@import "tailwindcss";

@theme {
    --color-primary: #1F1F1F; /* dark gray */
    --color-secondary: #545454; /*  gray */
}

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
